@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=MedievalSharp&display=swap');

body {
    background-image:url(https://wallpaperaccess.com/full/2796640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
    margin: 0px;
    -webkit-text-stroke-color: #5c020f;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-fill-color: #ffb237;
    text-align: center;
}

button {
    background-image: linear-gradient(45deg, #5c020f, #91091e, #5c020f);
    box-shadow: 2px 2px 10px black;
    border-radius: 15px;
    font-family: 'MedievalSharp', cursive;
    font-size: 2rem;
    margin-bottom: 35px;
    padding: 15px;
}


form {
    display: flex;
    width: 70%;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: left;
}

form div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 300px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Goblin One', cursive;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding: 75px 25px 25px;
}

input {
    height: 50px;
    width: 55px;
}

label, input, option, select  {
    font-family: 'MedievalSharp', cursive;
    font-size: 1.8rem;
    padding: 5px;
    margin: 5px;
}

.buttonPressed {
    opacity:0.7;
}


.mainHeader {
    background-color: #91091e;
    box-shadow: 0 0 10px black;
    height:fit-content;
    padding: 25px 0;
    margin: auto;
    width: 100%;
}

.mainSubHeader {
    margin: 25px auto;
    width: 75%;
}

.visible {
    display:inline-block;
}
.hidden {
    display:none;
}
#initialCharacterStats {
    padding: 150px, 25px;
}

#rollSelectForm div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    margin: 20px 0;
    width: 375px;
}

#rollSelectForm label {
    padding: 0;
}

#rollSelectForm input {
    height: 50px;
    width: 75px;
}


@media (max-width:424px){
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.6em;
    }
    
}