@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body {
    background-image:url(/images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
    margin: 0px;
    scroll-behavior: smooth;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #b16d00;
    text-align: center;
    text-decoration: none;
}

a , a:visited {
    -webkit-text-stroke-color: #5c020f;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: #ffb031;
    text-decoration: none;
}
button {
    background-image: linear-gradient(45deg, #5c020f, #91091e, #5c020f);
    box-shadow: 2px 2px 10px black;
    border-radius: 15px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3em;
    margin: 0 20px 35px;
    padding: 15px;
    width: max-content;
    height: min-content;
    -webkit-text-stroke-color: #5c020f;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: #ffb031;
}


form {
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    text-align: left;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin: 0 auto;
    padding: 75px 25px 25px;
}

input {
    height: 50px;
    width: 55px;
}

input,select,option {
    background-color: antiquewhite;
}

label, input, option, select  {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.8rem;
    padding: 5px;
    margin: 5px;
}

select {
    width:375px;
}

.buttonPressed {
    opacity:0.7;
}

.contentBackground {
    background-image:url(/images/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 50px #000;
    margin: 50px auto;
    width:80%;
}

.mainHeader {
    background-image: linear-gradient(45deg, #5c020f, #91091e, #5c020f);
    box-shadow: 0 0 10px black;
    height:fit-content;
    padding: 25px 0;
    margin: auto;
    width: 100%;
    -webkit-text-stroke-color: #5c020f;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: #ffb031;
}

.mainSubHeader {
    margin: 25px auto;
    width: 75%;
}

.visible {
    display:inline-block;
}

.hidden {
    display:none;
}

#initialCharacterStats {
    padding: 150px, 25px;
}

#rollSelectForm div {
    flex-direction: column;
    height: 300px;
    margin: 20px 0;
    text-align: center;
    width: 375px;
}

#rollSelectForm label {
    padding: 0;
}

#rollSelectForm input {
    height: 50px;
    width: 75px;
}

#rollSelectForm #diceRoll {
    width:300px;
}

#rollOutcome {
    height: 150px;
    margin: 0 10px;
    padding: 25px 0;
}

@media (max-width:767px){
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.4em;
    }

    button{
        font-size: 2em;
        margin: 0 5px 35px;
        max-width: 310px;
    }
    select {
        font-size: 1em;
        width: 310px;
    }
    
    .contentBackground {
        width: 100vw;
    }
}